.cli-container {
    position: relative;
    width: 33%;
    color: #000000;
}

.cli-container:hover{
    color: unset;
}

.cli-container .category {
    font-size: 17px; 
    font-weight: 400; 
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 0;
    transition: margin-left .6s cubic-bezier(.2,1,.2,1),top 1.5s;
}

.cli-container .category:hover{
    cursor: pointer;
}

.cli-container .active-category {
    font-size: 17; 
    font-weight: 700; 
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 20px;
    transition: margin-left .6s cubic-bezier(.2,1,.2,1),top 1.5s;
}

.cli-container .active-category::before{
    content: "";
    width: 15px;
    height: 2px;
    display: inline-block;
    background-color: #d5333e;
    position: absolute;
    top: 50%;
    left: 0;
    transition: all .4s cubic-bezier(.2,1,.2,1);
}

.cli-container .active-category:hover{
    cursor: pointer;
}